@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
body {
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    height: 100vh;
    font-family:Poppins;
    font-size: 16px;
}

#inputs {
    padding: 10px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    height:100px;
    background-color: rgb(190, 190, 167);
}

#inputs .button{
    border: 3px solid rgb(20, 19, 19);
    padding: 12px;
    color: white;
    background-color: rgb(12, 67, 118);
    border-radius: 6px;
    
}
#map {
    width: 100%;
    flex-grow: 1;
    border: 10px solid darkgray;
}